.title h1 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 57px;
  color: rgba(83, 16, 92, 0.96);
  text-align: left;
  margin-top: 5px;
}

.background {
  background: rgba(99, 99, 163, 0.35);
  border-radius: 30px;
  padding: 40px;
  max-width: 1200px;
  margin: 50px auto;
}

.totalContent {
  height: 500px;
  overflow-y: auto;
  margin-top: 20px;
}

.mat-table {
  width: 100%;
  max-width: 100%;
  border: 3px solid rgba(3, 83, 151, 1);
  border-radius: 5px;
}

.mat-header-cell, .mat-cell {
  padding: 16px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.mat-column-details {
  width: 150px;
}

.mat-header-row {
  background-color: rgba(83, 16, 92, 0.1);
  font-weight: bold;
}

.mat-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  background-color: rgba(83, 16, 92, 0.96);
  color: white !important;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  cursor: pointer;
  margin-left: 50px;
  height: 50px;
  width: 150px;
}

.tableStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .background {
    padding: 20px;
    margin-top: 10px;
  }

  .totalContent {
    max-height: 300px;
  }

  .mat-table {
    width: 100%;
    font-size: 12px;
  }

  .title h1 {
    font-size: 28px;
  }

  .button {
    width: 100%;
    margin-left: 0;
  }

  .tableStyle {
    flex-direction: column;
    align-items: flex-start;
  }
}
