<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Contenido -->
<div class="background">
  <div class="title">
    <h1>EVENTOS POPULARES</h1>
  </div>
  <div class="grid-container">
    <div *ngFor="let event of events" class="card">
      <div class="card-image">
        <img [src]="event.img" [alt]="event.name">
      </div>
      <div class="card-title eventName">{{ event.name }}</div>
      <div class="card-action">
        <button mat-button class="event-button">Ver detalles</button>
      </div>
    </div>
  </div>
</div>
