<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>

<div class="payment-container">
  <h2>Payment Details</h2>
  <form [formGroup]="paymentForm" (ngSubmit)="createToken()">
    <div class="form-group">
      <label for="cardNumber">Card Number</label>
      <input id="cardNumber" formControlName="cardNumber" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="expMonth">Expiry Month</label>
      <input id="expMonth" formControlName="expMonth" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="expYear">Expiry Year</label>
      <input id="expYear" formControlName="expYear" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="cvc">CVC</label>
      <input id="cvc" formControlName="cvc" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Create Token</button>
  </form>

  <h2>Charge Details</h2>
  <form [formGroup]="chargeForm" (ngSubmit)="charge()">
    <div class="form-group">
      <label for="stripeToken">Stripe Token</label>
      <input id="stripeToken" formControlName="stripeToken" type="text" class="form-control" [value]="token" readonly [disabled]=true>
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input id="amount" formControlName="amount" type="number" class="form-control" [disabled]=true readonly [value]="amount">
    </div>
    <button type="submit" class="btn btn-success">Charge</button>
  </form>
</div>
