<div class="footer arriba">

  <div class="left">
    <img src="assets/logo.png">
  </div>



  <div class="rights justify-content-center">

    <div class="textos ">

      <div class="flex flex-column gap-2 container">
        <label class="title titlejust" >Usuario</label>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Escribe tu nombre de usuario</mat-label>
            <input matInput placeholder="Ex. IsabellaSH" value="">
          </mat-form-field>
        </form>
      </div>

      <div class="flex flex-column gap-2 container">
        <label class="title" >Contraseña</label>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Escribe tu contraseña</mat-label>
            <input matInput value="">
          </mat-form-field>
        </form>
      </div>

      <div class="footer2" >
        <div>
          <div class="example-label">
            <div class="example-button-row">
              <button class="uptButton" mat-raised-button style="width: 200px; height: 55px; border-radius: 25px;">Ingresar</button>
            </div>
          </div>
        </div>

        <div>
          <div class="example-label ">
            <div class="example-button-row ">
              <button  class="uptButton " mat-raised-button style="width: 200px; height: 55px; border-radius: 25px;">Registrarse</button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


















