.footer {
  background-color: #6363A3;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  box-sizing: border-box;
}


.footer>div{
  width: 33%;
}

h3{
  margin-bottom: 0;
  width: 100%;
  justify-content: center;
  display: flex;
}

.contentt{
  display: flex;
  justify-content: center;
}

.rights{
  display: flex;
  align-items: center;
}
img{
  margin-top:5px;
  height: 30px;
}

.references{
  margin-right: 30px;
}
