<div class="footer">

  <div class="left">
    <img src="assets/logo.png">
  </div>


  <div class="rights">

    <mat-card class="example-card" >
      <mat-card-header >
        <mat-card-title class="example-card" >
          <p class="title1">Nosotros</p>
        </mat-card-title>

        <mat-card-subtitle>
          <li class="subs">Mision: Nuestra misión es facilitar a las personas la búsqueda de eventos sociales y la compra y venta de entradas. Asimismo, Ayudar a los anfitriones a tener un evento rentable.  </li>
          <hr>
          <li class="subs">Vision: Ser una aplicación y empresa con reconocimiento nacional e internacional en la publicidad de eventos y en el mercado de las transacciones de entradas. </li>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content  class="example-card">
        <p class="paragraphs">
          The big fun, es una plataforma de eventos que permite a
          sus usuarios encontrar los eventos que estén cerca a ellos,
          además de que les ofrece comprar entradas para los eventos
          que más les interesen en un solo lugar. Además de que, podra
          ofrecerle a sus usuarios recomendaciones de acuerdo
          a sus preferencias de tipos de eventos.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
