<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>

<div class="background">
  <div class="title">
    <h1>EVENTOS DISPONIBLES</h1>
  </div>
  <div class="totalContent">
    <div *ngFor="let event of events" class="eventsContainer">
      <table mat-table [dataSource]="[event]" style="border: 3px solid rgba(3, 83, 151, 1); width:1000px">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>
        <ng-container matColumnDef="hour">
          <th mat-header-cell *matHeaderCellDef>Hora</th>
          <td mat-cell *matCellDef="let element">{{ element.hour }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre del evento</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef>Costo</th>
          <td mat-cell *matCellDef="let element">{{ element.cost }}</td>
        </ng-container>
        <ng-container matColumnDef="aforo">
          <th mat-header-cell *matHeaderCellDef>Aforo</th>
          <td mat-cell *matCellDef="let element">{{ element.aforo }}</td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="mat-column-details">
            <button mat-button>Ver detalles</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['date', 'hour', 'name', 'cost', 'aforo', 'details']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['date', 'hour', 'name', 'cost', 'aforo', 'details']"></tr>
      </table>
    </div>

  </div>
</div>
