<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>

<section class="profile-container">
  <div class="title">
    <h1>User Profile</h1>
  </div>

  <div class="content">
    <div class="image-container">
      <img [src]="img" alt="profile-pic" >
    </div>

    <div class="info">
      <div class="container">
        <h3>User: {{currentAttendee.userName}}</h3>
      </div>
      <div class="container">
        <h3>Full Name: {{currentAttendee.name}}</h3>
      </div>
      <div class="container">
        <h3>Email: {{currentAttendee.email}} </h3>
      </div>
      <div class="button-container flex align-items-center justify-content-center">
        <button mat-button class="uptButton" style="width: 153px; height: 50px; border-radius: 25px;">Update data</button>
      </div>
    </div>
  </div>
</section>
