<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
<div class="background">
  <div class="title">
    <h1>{{nameEvent}}</h1>
  </div>
  <div class="body">
    <div class="imgContainer">
      <img [src]="img" alt="user picture" aria-label="Event Image" >
    </div>
    <br>

    <div class="information">
      Fecha: {{date}}
      <br>
      Hora: {{hour}}
      <br>
      Ubicación: {{location}}
      <br>
      Precio: {{cost}}
      <br>
      Aforo: {{capacity}}
      <br>
      <button mat-button class="button">Comprar</button>
    </div>
  </div>

</div>
